# keep .env private
.env

# ignore default themes
wp-content/themes/twentytwenty
wp-content/themes/twentynineteen
wp-content/themes/twentyseventeen

# wp-config shouldn't be copied for security
wp-config.php

# exclude everything
# plugins/*

# exception to the rule
# !wp-content/plugins/.gitkeep 
# !wp-content/uploads/.gitkeep 
